spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/aitradexdb}
    username: ${SPRING_DATASOURCE_USERNAME:aitradex_user}
    password: ${SPRING_DATASOURCE_PASSWORD:aitradex_pass}

management:
  endpoints:
    web:
      exposure:
        include: health, info
